on: [push]
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: npm install
      - run: npm run test-screener
        env:
          SCREENER_API_KEY: ${{ secrets.SCREENER_API_KEY }}